# Server configuration
PORT=3000

# Database configuration
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=slipstream_db
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/slipstream_db?schema=public"

# JWT configuration
JWT_PASS=slipstream_jwt_1234
JWT_EXPIRES_IN="3h"
